/* ***************OVERRIDE BROWSER DEFAULTS*************** */
* {
  padding: 0;
  margin: 0;
}
html {
    background-color: black;
}
body {
    overflow-x: hidden;
    width: 100%;
}
a:link, a:visited {
    color: black;
    cursor: auto;
}
a:link:active, a:visited:active {
    color: red;
}
a:hover {
 cursor:pointer;
}

